.help-box h3 {
    font-size: 1.15rem;
    line-height: 1;
    color: #333;
    padding-top: 1.65rem;
    padding-bottom: 3.075rem;
    text-align: center;
}

.help-box ul li {
    font-size: 0.75rem;
    height: 2.95rem;
    line-height: 2.95rem;
    color: #333;
    padding-left: 1.45rem;
}

.contact-box {
    padding-top: 2.225rem;
    text-align: center;
}

.contact-box .logo {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

.contact-box span {
    padding-bottom: 14.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: #333;
    padding-top: 0.625rem;
    display: block;
}

.contact-box p {
    font-size: 0.75rem;
    color: #333;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

/*关于我们*/
.about-box {
    padding: 1.05rem 0.65rem 0 0.65rem;
}

.about-box p {
    padding: 0 0 0.675rem 1.1rem;
    font-size: 0.65rem;
    color: #333;
}

.about-box .about-text {
    padding: 0.55rem 2.375rem 0.6rem 2.75rem;
    font-size: 0.6rem;
    color: #333;
    line-height: 1.75;
    border: 0.05rem solid #f2f2f2;
}

.helpdetail-box{ padding: 0.65rem; }
.helpdetail-box h4{ padding: 0.3rem; margin-bottom: 0.8em; font-size: 0.8rem; text-align: center; border-bottom: 0.05rem solid #e0e0e0; }
.helpdetail-box p{ padding-bottom: 0.5rem; text-indent: 2em; line-height: 1.6; }
.helpdetail-box img{ text-align: center; }